<%= form_for [:admin, @template], url: form_url, method: form_method do |f| %> 
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %><br/>
      <%= f.text_area :content %>
    </p>

    <p>
      <%= f.label :default %><br/>
      <%= f.check_box :default %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
