<%= form_for [:admin, @page], url: form_url, method: form_method do |f| %> 
    <% if @page.errors.any? %>
        <div class="errors">
          Total errors: <%= @page.errors.count %>
          <ul>
            <% @page.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :slug %><br/>
      <%= f.text_field :slug %>
    </p>

    <p>
      <%= f.label :content %><br/>
      <%= f.text_area :content %>
    </p>

    <p>
      <%= f.label :template %><br />
      <%= f.collection_select :index_template_id, @templates, :id, :title %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
